.header-bg-color{
    background-color: #264653;
}

.menu-bar-anchor-text a{
    text-decoration: none;
    padding: 15px;
}

.menu-bar-anchor-text{
    margin-right: 50px;
}

.banner-image{
    width: 512px;
    height: 447px;
}

.banner-p-text{
    font-size: 14px;
}

.featuer-img img{
    width: 288px;
    height: 243px;
}

.featuer-img-grayscale{
    filter: grayscale(100%);
}

.card img{
    padding: 15px;
}

.happy-img img{
    height: 149px;
    width: 149px;
    border-radius: 100px;
    margin-left: 30%;
    margin-top: 40px;
}

.faq img{
    width: 431px;
    height: 423px;
}
.icon-star{
    margin-left: 34%;
}

.footer-menu{
    list-style: none;
    margin-bottom: 60px;
}

.footer-menu a{
    color: white;
    text-decoration: none;
}

.footer-menu a:hover{
    color: #E76F51;
}

.app{
    width: 135px;
    height: 40px;
    margin: 5px;
}

.change-button-bg-color{
    background-color: #E76F51;
    color: white;
}

.leatest-button-bg-color{
    border: 1px solid #E76F51;
    color: #E76F51;
}

.leatest-button-bg-color:hover{
    background-color: #E76F51;
    color: white;
}

.change-text-color{
    color: #E76F51;
}